<div class="text-center">
    <h1>Sign Up for Click</h1>
</div>
<%= render partial: "/errors", locals: {instance: @user}%>
<div class="text-center form-control">
    <%= form_for(@user) do |f|%>
        <%= f.label :username %>
        <%= f.text_field :username %> <br>
    
        <%= f.label :password %>
        <%= f.password_field  :password %> <br>
    
        <%= f.label :first_name %>
        <%= f.text_field  :first_name %> <br>
    
        <%= f.label :last_name %>
        <%= f.text_field  :last_name %> <br>
    
        <%= f.label :about %>
        <%= f.text_area :about %> <br>

        <%= f.submit "Create Profile"%>
    
    <% end %>
</div>