<h1>Photo Feed</h1>

<%= form_tag(photos_path, method: :get) do %>
    <%= label_tag "Search", "Search for a Photo by Description" %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Search" %>
<% end %>

<% @photos.each do |photo| %>
    <%= link_to photo_path(photo) do %>
    <img src="<%=  photo.image %>" alt=""></img>
    <% end %>
    <br><h3><%= photo.user.username %></h3><br>
    <h4><%= photo.description %></h4>
<% end %>






