<img src="<%= @photo.image %>" alt=""></img> <br>
<%= @photo.description %>

<%= link_to "Edit Photo", edit_photo_path(@photo) %>
<%= button_to "Delete Photo", photo_path(@photo.id), method: "delete" %>
<%= link_to "Comment", new_photo_comment_path(@photo) %>

<% @photo.comments.each do |comment|%>
    <p><%= comment.user.username%>: <%= comment.content %></p>
<% end %>