
<img src="<%= @photo.image %>" alt=""></img> <br>
<h4><%= @photo.user.username %></h4> - <%= @photo.description %><br>

<%= link_to "Edit Photo", edit_photo_path(@photo) %> <br>
<%= button_to "Delete Photo", photo_path(@photo.id), method: "delete" %> <br>
<%= link_to "Comment", new_photo_comment_path(@photo) %> <br>

<%= flash[:message] if flash[:message] %>


 <h3>Comments:</h3>
<% @photo.comments.each do |comment|%>
    <h4><%= comment.user.username%>:</h4> <p><%= comment.content %></p>
    <%= link_to "Edit Comment", edit_photo_comment_path(@photo.id, comment.id) %>
<% end %>