<img src="<%= @photo.image %>" alt=""></img> <br>
<%= @photo.description %>

<%= link_to "Edit Photo", edit_user_photo_path(@user, @photo) %>
<%= button_to "Delete Photo", photo_path(@photo.id), method: "delete" %>
<%= link_to "Comment", new_photo_comment_path(@photo) %>

 <h3>Comments:</h3>
<% @photo.comments.each do |comment|%>
    <h4><%= comment.user.username%>:</h4> <p><%= comment.content %></p>
<% end %>