<!DOCTYPE html>
<html>
  <head>
    <title>ClickRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  </head>

  <body>
  
    <nav class="navbar navbar-dark bg-dark fixed-top">
    <h1 class="logo">Click!</h1>
      <div>
        <% if logged_in? %>
          <button class="btn btn-sm btn-outline-secondary"><%= link_to('Add A Photo', new_photo_path)%></button> |
          <button class="btn btn-sm btn-outline-secondary"><%= link_to('Photo Feed', photos_path)%></button> |
          <button class="btn btn-sm btn-outline-secondary"><%= link_to('Logout', logout_path)%></button> 
        <% else %>
          <button class="btn btn-sm btn-outline-secondary"><%= link_to('SignUp', signup_path)%></button> |
          <button class="btn btn-sm btn-outline-secondary"><%= link_to('Login', login_path)%></button> |
          <%= button_to "Log In With Google", '/auth/google_oauth2', method: "post" %> 
        <%end%>
      </div>  
    </nav>
  
    <%= yield %>
 
    

    
  </body>
</html>
