<!DOCTYPE html>
<html>
  <head>
    <title>ClickRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
  <h1>Welcome to Click!</h1>
  <div>
    <% if logged_in? %>
      <%= link_to('Add A Photo', new_photo_path)%>
      <%= link_to('Photo Feed', photos_path)%>
      <%= link_to('Logout', logout_path)%>
    <% else %>
      <%= link_to('SignUp', signup_path)%>
      <%= link_to('Login', login_path)%>
    <%end%>
  </div>    
    <%= yield %>
  </body>
</html>
